.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  padding: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.box-image {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  margin-bottom: 10px; 
}

.box-image img {
  width: 30px;
  height: auto;
}

.box-content {
  text-align: center; 
}